@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body { margin: 0; width: 100vw; height: 100vh; display: flex; flex-direction: row; overflow: hidden; color: var(--foreground-primary); font-family: 'Poppins', sans-serif; }

#sidebar { min-width: 56px; width: auto; height: 100%; display: flex; flex-direction: row; flex: 0 0 auto; background: var(--background-tertiary); }
#sidebar-actions { width: 56px; height: 100%; display: flex; flex-direction: column; flex: 0 0 auto; position: relative; }
.sidebar-action { width: 56px; height: 56px; display: flex; align-items: center; justify-content: center; cursor: pointer; color: var(--foreground-tertiary); }
.sidebar-action:hover { color: var(--foreground-primary); background: rgba(128, 128, 128, 0.1	); }
.sidebar-action[active="true"] { color: var(--foreground-primary); }
.sidebar-action[active="true"]::after { content: ''; height: 48px; border-left: 2px solid var(--foreground-primary); position: absolute; left: 0; }
.sidebar-action span { font-size: 36px !important; }
#sidebar-explorer { width: 300px; height: 100%; display: flex; flex-direction: column; flex: 0 0 auto; background: var(--background-secondary); position: relative; }
#sidebar-explorer-title { position: absolute; font-size: 16px; color: var(--foreground-secondary); position: absolute; top: 6px; left: 6px; width: 95%; border-bottom: 1px solid rgba(128, 128, 128, 0.75); }
#inner { width: 100%; height: 100%; display: flex; background: var(--background-primary); }
#splash { margin: auto; display: flex; flex-direction: column; align-items: center; color: var(--foreground-secondary); }
#splash-text { color: var(--background-secondary); font-size: 180px; font-family: 'Comfortaa', cursive; user-select: none; }
#splash-row { display: flex; flex-direction: row; }
#splash-row-left, #splash-row-right { display: flex; flex-direction: column; margin: 0 12px; }
#splash-row-left { align-items: flex-end; }
#splash-row-right { align-items: flex-start; }
.splash-text-tips { font-size: 20px; margin-top: 10px; cursor: pointer; }
.splash-text-tips:hover { text-decoration: underline; }
.splash-text-tips:active { color: var(--foreground-primary); }
#splash-row code { font-size: 20px; margin-top: 10px; background: var(--background-tertiary); border: 3px solid var(--background-tertiary); border-radius: 6px; }
/* #splash a { color: var(--foreground-link); text-decoration: underline; cursor: pointer; }
#splash a:hover { color: var(--foreground-link-hover); } */