:root
{
	--background-primary: #FFFFFF;
	--background-secondary: #DDDDDD;
	--background-tertiary: #CCCCCC;

	--foreground-primary: #000000;
	--foreground-secondary: #222222;
	--foreground-tertiary: #444444;
	--foreground-link: #0000FF;
	--foreground-link-hover: #0022FF;
	--foreground-selected: #0088FF;
}